$gold-number-width: calc(300px / 1.618033);

@mixin gold-number($height){
	height: $height;
	width: $height / 1.618033;
}



.hero {
	display: grid;
	grid-template-columns: repeat(4, .8fr);
	grid-auto-rows: 350px;
	grid-gap: 20px;
	
	&__content {
		text-align: center;
		background-color: #eee;
		display: grid;
		grid-template-columns: $gold-number-width;
		grid-template-rows: 50px, 1fr;
		overflow-y: auto;
		overflow-x: hidden;
	}

	&__title {
		font-size: 14px;
		margin: 10px 0; 
		text-overflow: ellipsis; 
	}

	&__img {
		@include gold-number(300px);
		bottom: 0;
	}

}

.loading{
	font-size: 40px;
	margin-top: 15%;

}
