$gold-number-width: calc(300px / 1.618033);
@mixin gold-number($height){
	height: $height;
	width: $height / 1.618033;
}

.hero {
	display: grid;
	grid-template-columns: repeat(4, .8fr);
	grid-auto-rows: 350px;
	grid-gap: 20px;
	
	&__content {
		text-align: center;
		display: grid;
		grid-template-rows: 1fr;
		overflow-y: auto;
		overflow-x: hidden;
		&:hover{
			
			padding: 0;
		}
	}

	&__title {
		font-size: 13px;
		margin: 5px 0; 
	}

	&__img {
		@include gold-number(300px);
		margin: 0 auto;
		&:hover{
			@include gold-number(350px);
			// position: absolute;
		}
	}

}

.loading{
	font-size: 40px;
	margin-top: 15%;

}
