/* HEADER */
@import '../lib/colors';
@import '../lib/utilities';

.header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9999;
	display: flex !important;
	justify-content: center;
	flex-direction: column;

	&__top {
		display: flex;
		position: relative;
		height: 48px;
		background-color: $gray-A200;
		margin: 0;
		padding: 0;
	}

	&__title {
		margin: auto;
		font-size: 20px
	}

	&__logo {
		height: 48px;
		position: absolute;
	}

	&__menu {
		display: flex;
		flex-direction: row;
		background-color: $gray-700;
		height: 20px;
		color: $gray-A200;
		justify-content: center;
	}

	ul {
		display: flex;
		list-style: none;
		@extend %u-italic,
		%u-bold;
	}

	li {
		margin: 0 10px;
	}
}
